* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #999;
}


/* - - - - - Typography - - - - - */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

a:hover {
    color: darkseagreen;
    transition: 0.5s;
}

.nav-projects,
.nav-about-contact {
    text-transform: uppercase;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.625rem;
    font-weight: 300;
}

.positioning-statement {
    font-size: 3rem;
    font-weight: 400;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}